{% extends 'Admin/home.html.twig' %}

{% block main %}
	<h1>{{ category.name }}</h1>
	<p>{{ category.description }}</p>
	{% for article in category.articles %}

		<h3>{{ article.title }}</h3>

	{% endfor %}
{% endblock %}
